<!DOCTYPE html>
<html>
  <head>
    <title>New Entry</title>
    <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Lato:100"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>Add New Entry</h1>
      <form action="/" method="POST">
              <textarea name="title" placeholder="Title" required="true"></textarea> <br />
              <textarea name="body" placeholder="Enter the content" required="true"></textarea><br />
              <textarea name="comments" placeholder="Any Comments?"></textarea><br />
              <input type="submit" value="Add Post" />
          </form>
    </div>
  </body>
</html>
