<!DOCTYPE html>
<html>
  <head>
    <title>Remove Entry</title>
    <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Lato:100"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>Remove Content</h1>
      <form action="" method="POST">
              <textarea name="title" placeholder="Enter Title to Delete" required="true"></textarea> <br />
              <input type="submit" value="Delete Post" />
          </form>
    </div>
  </body>
</html>
